extends /_layouts/_main.pug

block precontent
  header.hero
    .hero-inner
      h1 You can change LA for the better
      p.type-featured.
        Can you design, write, or code? Are you an activist with an idea? You
        can help Los Angeles live up to its potential at Hack for LA. Everyone
        is welcome!
      form.js-ajax-form.hero-signup(action='thank-you', method='post', name='Quick Signup Form', netlify)
        .form-input
          label(for='hero-signup').sr-only Enter your email address
          input(type='email',
            name='email',
            placeholder='Enter your email address', required)#hero-signup
        button(type='submit').btn.btn-primary Sign up for updates
        .form-confirmation.hidden Thanks! You'll hear from us soon.

block content
  section#hack-nights.content-section.section-hack-nights
    .page-contain
      h2 Hack Nights - Every Tuesday & Wednesday
      p.
        We host weekly Hack Nights in Downtown Los Angeles and Santa Monica.
        We organize groups of volunteers to build technology addressing the
        LA region's biggest civic issues. Join an existing project team or
        pitch your own civic issue.
      .impact-stats
        p.impact-stat
          span.impact-large.type-h1 40
          |  weekly attendees
        p.impact-stat
          span.impact-large.type-h1 50-50
          |  women &amp; men
        p.impact-stat
          span.impact-large.type-h1 50%
          |  people of color
      .locations
        .location
          .location-img(style='background-image: url("/images/la-kretz.jpg")')
          .location-details
              h3.location-header
                strong Downtown
                |  Tuesdays at 6:30 pm
              address.
                La Kretz Innovation Center, Room 402#[br]
                525 S Hewitt St, Los Angeles, CA 90013
        .location
          .location-img(style='background-image: url("/images/santa-monica.jpg")')
          .location-details
              h3.location-header
                strong Westside
                |  Wednesdays at 6:30 pm
              address.
                Pivotal Labs, Suite 200#[br]
                1333 2nd Street, Santa Monica, CA 90013
      p
        a(href='https://www.meetup.com/hackforla/',
          target='_blank').btn.btn-primary RSVP on Meetup
        a(href='http://hackforla-slack.herokuapp.com/',
          target='_blank').btn.btn-primary Join our Slack

  -
    const projects = [
      {
        title: 'Food Oasis',
        description: 'Everyone deserves access to healthy food. Help us make it easier for Angelenos to find the best places to buy or grow healthy food in their city.',
        links: {
          'Github': 'https://github.com/foodoasisla',
          'Site': 'https://foodoasis.la/',
        },
        partner: 'LA Food Policy Council',
        needs: 'Java Developers, Designers, Writers',
        img: '/images/project-fola.jpg',
        featured: true,
        location: 'Downtown',
      },
      {
        title: 'Work for LA',
        description: 'Applying for work should be simple—but the application process for the City of LA is confusing and cumbersome. We’re going to make it easier to find the job of your dreams.',
        links: {
          'Github': '',
          'Site': 'http://www.workfor.la/',
        },
        partner: 'Department of Personnel',
        needs: 'UX, Writers, Designers',
        img: '/images/project-workforla.jpg',
        location: 'Downtown',
      },
      {
        title: 'Adopt-A-Civic Artwork',
        description: 'There are thousands of works of public art scattered around the city. There should be one place to see where they are and how they’re doing. We’re building it.',
        links: {
          'Github': 'https://github.com/hackforla/adopt-civic-art',
        },
        needs: 'UX, Designers, Python',
        img: 'http://placehold.it/600x400',
        location: 'Downtown',
      },
      {
        title: 'Curb Map',
        description: 'We’re going to build an iOS and Android app that will tell you where and when you can park in the city—all based on your location. Come drive with us.',
        links: {
          'Github': ''
        },
        needs: 'Designers, Python',
        img: 'http://placehold.it/600x400',
        location: 'Downtown'
      }
    ]

  section#projects.content-section.projects
    .page-contain.projects-inner
      h2.project-header Current Projects
      ul.project-list.unstyled-list
        each item in projects
          li.project-card
            .project-card-inner
              .project-tmb
                img(src=item.img).project-tmb-img
              .project-body
                h4.project-title= item.title
                p.project-description= item.description
                if item.links
                  .project-links
                    strong Links:
                    - let i = 0;
                    each link, key in item.links
                      - i++;
                      |  #[a(href=link, target='_blank')= key]
                      if (Object.keys(item.links).length !== i)
                        | ,
                if item.partner
                  .project.partner
                    strong Partner:
                    if item.partnerLink
                      |  #[a(href=item.partnerLink, target='_blank')= item.partner]
                    else
                      |  #{item.partner}
                if item.needs
                  .project-needs
                    strong Looking for:
                    |  #{item.needs}
                if item.location
                  .project-location
                    strong Location:
                    |  #{item.location}
      p.project-pitch.
        Have an idea? #[a(href='#contact').js-smooth-scroll.btn.btn-primary Submit your pitch]

  -
    const news = [
      {
        title: 'Why LA’s Tech Community is Trying to Hack Hunger',
        publication: 'CNN',
        img: 'http://placehold.it/600x400',
        url: 'http://money.cnn.com/2017/04/19/technology/la-food-deserts/'
      },
      {
        title: `At L.A. 'hackathon,' civic-minded coders aim to put city data to good use`,
        publication: 'LA Times',
        img: 'http://placehold.it/600x400',
        url: 'http://www.latimes.com/local/california/la-me-hackathon-20150607-story.html'
      },
      {
        title: 'March 4 Declared “Open Data Day” in Los Angeles',
        publication: 'GovTech',
        img: 'http://placehold.it/600x400',
        url: 'http://www.govtech.com/dc/articles/March-4-Declared-Open-Data-Day-in-Los-Angeles-Cities-Worldwide.html'
      }
    ]
  section#press.content-section.press
    .page-contain
      blockquote.quote
        p.
          Hack for LA is a great example of how we can harness technology and our city's creativity to solve everyday problems. As Mayor, I will closely partner with our tech industry to create jobs and bring innovation to City Hall so government works faster and more efficiently.
        cite.type-h4 Mayor Eric Garcetti
        img(src='/images/quote-garcetti.jpg').quote-tmb
      h2 Press
      ul.news-cards.unstyled-list
        each item in news
          li.news-card
            .news-card-inner
              .news-body
                h4.news-title
                  a(href=item.url)= item.title
                p= item.publication

  section#about.content-section.about
    .page-contain
      h2 Want to know more about Hack for LA?
      p.
        Hack for LA is the official Los Angeles chapter of Code for America, a national nonprofit that believes government can work for the people, by the people, in the 21st century. We bring together coders, designers, entrepreneurs, students, government staff, activists, and other civic-minded people to solve the LA region’s biggest civic challenges.
      #contact
        h3 Contact Us
        p.
          Are you press and want to get in touch? Are you interested in becoming a sponsor? Want to just #[a(href='http://hackforla-slack.herokuapp.com/', target='_blank') check us out on Slack]? Looking to volunteer?
        form.js-ajax-form.contact-form(action='thank-you', method='post', name='Contact Form', netlify)
          textarea(placeholder='Send us a message', name='message', required)
          .form-controls
            .form-input
              label(for='contact-email').sr-only Enter your email address
              input(type='email',
                name='email',
                placeholder='Enter your email address', required)#contact-email
            button(type='submit').btn.btn-primary Send message
          p.form-confirmation.hidden Thanks! You'll hear from us soon.
  section#sponsors.content-section
    .section-inner.page-contain
      .section-body-full
        h2 Sponsors
        .sponsor-garden
          ul.unstyled-list
            li.sponsor-logo
              a(href='https://www.codeforamerica.org/', target='_blank')
                img(src='/images/logo-cfa.svg', alt='Code for America')
            li.sponsor-logo
              a(href='http://laincubator.org/', target='_blank')
                img(src='/images/logo-laci.svg', alt='Los Angeles Cleantech Incubator')
            li.sponsor-logo
              a(href='https://pivotal.io/labs', target='_blank')
                img(src='/images/logo-pivotal-labs.svg', alt='Pivotal Labs')
