extends /_layouts/_main.pug

block precontent
  header.hero
    .hero-inner
      h1 You can change LA for the better
      p.type-featured.
        Can you design, write, or code? Are you an activist with an idea? You
        can help Los Angeles live up to its potential at Hack for LA. Everyone
        is welcome!
      form.hero-signup(action='#', method='post')
        label(for='hero-signup').sr-only Enter you email address
        input(type='email',
          name='email',
          placeholder='Enter you email address')#hero-signup
        button(type='submit').btn.btn-primary Sign up for updates

block content
  section#hack-nights.content-section
    .section-inner.page-contain
      .section-body
        h2 Hack Nights - Every Tuesday & Thursday
        p.
          We host weekly Hack Nights in Downtown Los Angeles and Santa Monica.
          We organize groups of volunteers to build technology addressing the
          LA region's biggest civic issues. Join an existing project team or
          pitch your own civic issue.
        p
          strong Downtown - Tuesdays at 6:30 pm
          address.
            La Kretz Innovation Center#[br]
            Room 402#[br]
            525 S Hewitt St#[br]
            Los Angeles, CA 90013
        p
          strong Westside - Thursdays at 6:30 pm
          address.
            Westside - Thursdays at 6:30 pm#[br]
            Santa Monica Public Library#[br]
            601 Santa Monica Blvd#[br]
            Santa Monica, CA 90401
        p
          a(href='https://www.meetup.com/hackforla/',
            target='_blank').btn.btn-primary RSVP on Meetup
          a(href='http://hackforla-slack.herokuapp.com/',
            target='_blank').btn.btn-primary Join us on Slack
      aside.section-aside
        img(src='/images/la-kretz.jpg', alt='Exterior photo of La Kretz Innovation Center')

  -
    const projects = [
      {
        title: 'Food Oasis',
        description: 'Everyone deserves access to healthy food. Help us make it easier for Angelenos to find the best places to buy or grow healthy food in their city.',
        links: {
          'Github': 'https://github.com/foodoasisla',
          'Site': 'https://foodoasis.la/',
        },
        partner: 'LA Food Policy Council',
        needs: 'Java Developers, Designers, Writers',
        img: '/images/project-fola.jpg',
        featured: true,
        location: 'Downtown',
      },
      {
        title: 'Work for LA',
        description: 'Applying for work should be simple—but the application process for the City of LA is confusing and cumbersome. We’re going to make it easier to find the job of your dreams.',
        links: {
          'Github': '',
          'Site': 'http://www.workfor.la/',
        },
        partner: 'Department of Personnel',
        needs: 'UX, Writers, Designers',
        img: '/images/project-workforla.jpg',
        location: 'Downtown',
      },
      {
        title: 'Adopt-A-Civic Artwork',
        description: 'There are thousands of works of public art scattered around the city. There should be one place to see where they are and how they’re doing. We’re building it.',
        links: {
          'Github': 'https://github.com/hackforla/adopt-civic-art',
        },
        needs: 'UX, Designers, Python',
        img: 'http://placehold.it/600x400',
        location: 'Downtown',
      },
      {
        title: 'Curb Map',
        description: 'We’re going to build an iOS and Android app that will tell you where and when you can park in the city—all based on your location. Come drive with us.',
        links: {
          'Github': ''
        },
        needs: 'Designers, Python',
        img: 'http://placehold.it/600x400',
        location: 'Downtown',
      },
      {
        title: 'DOT Planner',
        description: 'We are mapping out all of the city projects that are making it easier to get around Los Angeles—road improvements, bike lanes, metro expansion, and way more.',
        links: {
          'Github': ''
        },
        partner: 'DOT',
        needs: 'Designers',
        img: 'http://placehold.it/600x400',
        location: 'Downtown',
      }
    ]

  section#projects.content-section
    .section-inner.page-contain
      .section-body-full
        h2 Current Projects
      ul.project-list.unstyled-list
        each item in projects
          li(class={featured: item.featured}).project-card
            .project-card-inner
              .project-tmb
                img(src=item.img).project-tmb-img
              .project-body
                h3.project-title= item.title
                p.project-description= item.description
                p.project-needs Looking for: #{item.needs}
                ul.inline-list.project-links
                  each link, key in item.links
                    li
                      a(href=link, target='_blank')= key
      .section-body-full
        p.project-pitch
          a(href='#') Have an idea? Submit your pitch

  section#impact.content-section
    .section-inner.page-contain
      .impact-stat
        .impact-large 3,000
        p People
      .impact-stat
        .impact-large 50%
        p Women hackers
      .impact-stat
        .impact-large 50%
        p People of color

  -
    const news = [
      {
        title: 'Why LA’s Tech Community is Trying to Hack Hunger',
        publication: 'CNN',
        img: 'http://placehold.it/600x400',
        url: 'http://money.cnn.com/2017/04/19/technology/la-food-deserts/'
      },
      {
        title: `At L.A. 'hackathon,' civic-minded coders aim to put city data to good use`,
        publication: 'LA Times',
        img: 'http://placehold.it/600x400',
        url: 'http://www.latimes.com/local/california/la-me-hackathon-20150607-story.html'
      },
      {
        title: 'March 4 Declared “Open Data Day” in Los Angeles',
        publication: 'GovTech',
        img: 'http://placehold.it/600x400',
        url: 'http://www.govtech.com/dc/articles/March-4-Declared-Open-Data-Day-in-Los-Angeles-Cities-Worldwide.html'
      }
    ]
  section#press.content-section
    .section-inner.page-contain
      .section-body-full
        h2 Featured News
        ul
          each item in news
            li.news-card
              .news-card-inner
                .news-tmb
                  img(src=item.img).news-tmb-img
                .news-body
                  a(href=item.url)
                    h3.news-title= item.title
                  p
                    em= item.publication

  section#about.content-section
    .section-inner.page-contain
      .section-body-full
        h2 Want to know more about Hack for LA?
        p.
          Hack for LA is the official Los Angeles chapter of Code for America, a national nonprofit that believes government can work for the people, by the people, in the 21st century. We bring together coders, designers, entrepreneurs, students, government staff, activists, and other civic-minded people to solve the LA region’s biggest civic challenges.
        h3 Contact Us
        p.
          Are you press and want to get in touch? Are you interested in becoming a sponsor? Want to just check us out on Slack? Looking to volunteer?
        form
          textarea(placeholder='Send us a message')
          button(type='submit').btn.btn-primary Send
        a(href='http://hackforla-slack.herokuapp.com/',
          target='_blank').btn.btn-primary Join us on Slack

  section#sponsors.content-section
    .section-inner.page-contain
      .section-body-full
        h2 Sponsors
        .sponsor-garden
          ul.inline-list
            li.sponsor-logo
              a(href='https://www.codeforamerica.org/')
                img(src='/images/logo-cfa.svg', alt='Code for America', target='_blank')
            li.sponsor-logo
              a(href='http://laincubator.org/')
                img(src='/images/logo-laci.svg', alt='Los Angeles Cleantech Incubator', target='_blank')
