head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title #{siteName}
  meta(content=meta.pageTitle, property='og:title')
  meta(content=siteName, property='og:site_name')
  meta(content=meta.description, property='og:description')
  meta(content=meta.image, property='og:image')
  meta(content=canonicalUrl, property='og:url')
  link(rel='canonical', href=canonicalUrl)

  // Disable tap highlight on IE
  meta(name='msapplication-tap-highlight', content='no')

  // Web Application Manifest
  link(rel='manifest', href='/manifest.json')

  link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
  link(rel="manifest", href="/manifest.json")
  link(rel="mask-icon", href="/safari-pinned-tab.svg", color="#fa3152")
  meta(name="theme-color", content="#333333")

  // Stylesheets
  link(href='https://fonts.googleapis.com/css?family=Roboto:400,400i,700' rel='stylesheet')
  link(href='/styles/main.css', rel='stylesheet')
